{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" style="background-image: url('{% static 'img/breadcrumb.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="color: wheat !important;">checkout </h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home'%}">Home</a>
                            <span>checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Checkout Section Begin -->
    <section class="checkout spad" style="background-color: white;">
        <div class="container">
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="{% url 'place_order' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        {{ form.first_name}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        {{ form.last_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        {{ form.phone}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email Address<span>*</span></p>
                                        {{ form.email}}
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                {{ form.address}}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>City<span>*</span></p>
                                        {{ form.city}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        {{ form.state}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        {{ form.country}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Pin Code<span>*</span></p>
                                        {{ form.pin_code}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Food <span>Quantity</span></div>
                                {% for item in cart_items %}
                                    <ul id="cart-item-{{item.id}}">
                                        <li>{{ item.fooditem }} <span>{{ item.quantity}}</span></li>
                                        <a href="{% url 'restaurant_detail' item.fooditem.restaurant.restaurant_slug %}"><span>{{ item.fooditem.restaurant}}</span></a>
                                    </ul>
                                {% endfor %}
                                <li style="list-style-type: none;">
                                    Subtotal
                                    <span class="price float-right">
                                        <span class="currency">Rs</span>
                                        <span id="subtotal">{{ subtotal }}</span>
                                    </span>
                                </li>

                                {% for key, value in tax_dict.items %}
                                    {% for i,j in value.items%}
                                        <li style="list-style-type: none;">
                                            {{ key }} <small>({{ i }}%)</small>
                                            <span class="price float-right">
                                                <span class="currency">Rs</span>
                                                <span id="tax-{{ key }}">{{ j }}</span>
                                            </span>
                                        </li>
                                    {% endfor %}
                                {% endfor %}

                                <li style="list-style-type: none; font-weight:600;">
                                    TOTAL
                                    <span class="price float-right">
                                        <span class="currency">Rs</span>
                                        <span id="grandtotal">{{ grandtotal }}</span>
                                    </span>
                                </li>
                                <br>
                                <br>
                                <h5>SELECT PAYMENT METHOD</h5>
                                <br>
                                <div class="payment-method">
                                    <label>
                                        <input type="radio" name="payment_method" id="method1" value="Khalti">
                                        <img src="{% static 'images/khalti.jpg' %}" alt="Khalti" width="100">
                                    </label>
                                </div>
                                <span class="text-danger" id="payment-method-error"></span>
                                <!-- SELECT PAYMENT METHOD END-->
                                <button onclick="return paymentConfirmation();" type="submit" class="btn btn-success w-100 p-2 mt-3">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <script>
        function paymentConfirmation(){
            var payMethod = $("input[name='payment_method']:checked").val()
            if(!payMethod){
                $('#payment-method-error').html("Please Select Payment Method.");
                return false;
            }else{
                var confirmation = confirm('You have selected ' +payMethod+ ' as your preferred payment method.\nclick "OK" to Continue.')
                if(confirmation == true){
                    return true;
                }else{
                    return false;
                }
            }
        }

        $('input[name=payment_method]').on('change', function(){
            $('#payment-method-error').html(" ");
        })
    </script>
{% endblock%}