{% extends "base.html" %}

{% load static %}
{% block content %}
    <!-- Main Section Start -->
			<div class="main-section" style="background-color: white !important;">
				<div class="page-section restaurant-detail-image-section" style=" background: url({% if restaurant.user_profile.cover_photo %} {{ restaurant.user_profile.cover_photo.url }} {% else %} {% static 'images/default-cover.png' %} {% endif %}) no-repeat scroll 0 0 / cover;">
					<!-- Container Start -->
					<div class="container">
						<!-- Row Start -->
						<div class="row">
							<!-- Column Start -->
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="company-info-detail">
									<div class="company-info">
										<div class="img-holder">
											<figure>
                                                    {% if restaurant.user_profile.profile_picture%}
												        <img src="{{ restaurant.user_profile.profile_picture.url }}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'images/default-profile.png' %}" alt="">
                                                    {% endif %}
											</figure>
										</div>
										<div class="text-holder">
											<span class="restaurant-title">{{ restaurant.Restaurant_name }} {% if not restaurant.is_open %}[CLOSED]{% endif %}</span>
											<div class="text">
												{% if restaurant.user_profile.address %}
												<i class="icon-location"></i>
												<p>{{restaurant.user_profile.address}}</p>
												{% endif %}
											</div>
										</div>
									</div>
									{% if opening_hour %}
										<div class="delivery-timing reviews-sortby">
											<ul>
												<li>
													<a href="#" class="reviews-sortby-active">
														<span>Today :</span>
														{% for i in current_opening_hour%}
															<span>{% if i.is_closed%}Closed{% else %} {{ i.from_hour }} - {{ i.to_hour }} {% endif %}</span><i class="icon-chevron-small-down"></i>
														{% endfor %}
													</a>
													
														<ul class="delivery-dropdown">
															{% for hour in opening_hour%}
															<li><a href="#"><span class="opend-day">{{ hour }}</span> <span class="opend-time"><small>:</small> {% if hour.is_closed %}Closed{% else %} {{ hour.from_hour }} - {{ hour.to_hour }} {% endif %}</span></a></li></li>
															{% endfor %}
														</ul>
													
												</li>
											</ul>
										</div>
									{% endif %}
								</div>
							</div>
							<!-- Column End -->
						</div>
						<!-- Row End -->
					</div>
					<!-- Container End -->
				</div>

				<div class="page-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 sticky-sidebar">
								<div class="filter-wrapper">
									<div class="categories-menu" style="background-color: white !important;">
										<h6><i class="icon-restaurant_menu"></i>Categories</h6>
										<ul class="menu-list">
											{% for category in categories %}
												<li class="active"><a href="#" class="menu-category-link"> {{ category }} </a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
								<div class="tabs-holder horizontal">

									<div class="tab-content">
										<div id="home" class="tab-pane in active">
											<div class="menu-itam-holder">
												<div id="menu-item-list-6272" class="menu-itam-list">
												<h5><b>{{ restaurant.Restaurant_name }}</b> Menu</h5>
												{% for category in categories %}	
													<div class="element-title" id="menu-category-2">
														<br>
														<br>
														<h5 class="text-color">{{ category }}</h5>
														<span>{{ category.description }}</span>
														<br>
													</div>
													<ul>
														{% for food in category.fooditems.all %}
														<li>
															<div class="image-holder"> <img src="{{ food.image.url}}" alt=""></div>
															<div class="text-holder">
																<h6>{{ food }}</h6>
																<span class="description">{{ food.description }}</span>
																<style>
																	.text-holder {
																		max-width: 400px;
																		white-space: nowrap;
																		position: relative;
																	}
																	
																	.description {
																		/* Apply styles specific to the description span */
																		/* Add any additional styling you want */
																		display: inline-block; /* Make the description span inline-block */
																		overflow: hidden;
																		text-overflow: ellipsis;
																		white-space: nowrap;
																	}
																	
																	.description:hover {
																		white-space: normal;
																		overflow: visible;
																		text-overflow: clip;
																		z-index: 999; /* Ensure the description is displayed on top of other content */
																		position: absolute;
																		background-color: white;
																		border: 1px solid #ccc;
																		padding: 5px;
																	}
																</style>
															</div>
															<span class="price" style="margin-left: 50px;">Rs {{ food.price }}</span>
															<div class="price-holder">
																<td class="shoping__cart__quantity" style="vertical-align: middle; text-align: center;">
																	<div style="display: flex; align-items: center; justify-content: center;">
																		<a href="#" class="decrease_cart" data-id="{{ food.id }}" data-url="{% url 'decrease_cart' food.id %}" style="font-size: 20px; color: black; text-decoration: none; background-color: #f0f0f0; border-radius: 5px; padding: 7px; margin-right: 5px; display: flex; align-items: flex-end; justify-content: space-between; width: 36px; height: 36px; flex-direction: column; flex-wrap: nowrap;">
																			<i class="fa fa-minus"></i>
																		</a>
																		<label id="qty-{{food.id}}" style="margin: 0 10px; font-size: 16px; color: black;">0</label>
																		<a href="#" class="add_to_cart" data-id="{{ food.id }}" data-url="{% url 'add_to_cart' food.id %}" style="font-size: 20px; color: black; text-decoration: none; background-color: #f0f0f0; border-radius: 5px; padding: 8px; margin-left: 5px; display: flex; align-items: flex-end; justify-content: space-between; width: 36px; height: 36px; flex-direction: column; flex-wrap: nowrap;">
																			<i class="fa fa-plus"></i>
																		</a>
																	</div>
																</td>	
															</div>
														</li>
														{% endfor %}
													</ul>
													{% endfor %}
												</div>

												{% for item in cart_items %}
													<span id="qty-{{item.fooditem.id}}" class="item_qty d-none" data-qty="{{ item.quantity }}">{{ item.quantity }}</span>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<form action="{% url 'submit_review' restaurant.id %}" method="POST">
									{% csrf_token %}
									<h5>Write your reviews</h5>
									<div>
									 <label>How do you rate this restaurant?</label> 
									 <br>
									 <div class="rate">
										<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
										<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
										<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
										<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
										<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
										<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
										<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
										<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
										<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
										<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
									</div>
									 <br>
									 <br>
									 Review Title:
									 <input type="text" class="form-control" name="subject">
									 <br>
									 Review:
									 <textarea name="review" rows="4" class="form-control"></textarea>
									 <br>
									 {% if user.is_authenticated %}
									 	<input type="submit" value="Submit Review" class ="btn btn-primary">
									 {% else %}
									 	<p>You must be logged in to post a review.<span><a href="{% url 'login' %}">Login now</a></span></p>
									 {% endif %}
									</div>
									{% include 'includes/alerts.html' %}
								</form>
								 <br>
								 <header class="section heading">
									<h3>Customer Reviews</h3>
									<p>Average Review: {{ restaurant.averageReview }}/5</p><p>{{restaurant.countReview}} reviews</p>
								</header>
								{% for review in reviews %}
									{% if review.restaurant_id == restaurant.id %}
										<article class="box mb-3">
											<div class="icontext w-100">
												<div class="text">
													<span class="date text-muted float-md-right">{{review.updated_at}} </span>
													<h6 class="mb-1">{{review.user.full_name}} </h6>
													<p>{{ review.rating }}/ 5</p>
													{% if request.user == review.user %}
														<a href="{% url 'delete_review' review.id %}" class="btn btn-danger btn-sm">Delete</a>
													{% endif %}
												</div>
											</div> 
											<div class="mt-3">
												<h6>{{review.subject}}</h6>
												<p>{{review.review}}</p>
											</div>
										</article>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Section End -->
{% endblock %}