{% load static %}
	
	<!--Main Wrapper-->
	
	<div class="wrapper">
	
		<!-- Header Start -->
		
		<header id="header" class="sticky-header header-full-width transparent-header fancy">
			<div class="main-header">
				<div class="wide">
					<div class="nav-left wow fadeOutLeft" data-wow-duration="2s">
						<div class="main-nav">
							<nav id="site-navigation" class="main-navigation">
								<ul class="fancy-left-menu">
									<li class="menu-item-has-children">
										<a href="#">Foods</a>
										<ul>
											<li><a href="index.html">Chinese</a></li>
											<li><a href="#">Mexican</a></li>
											<li><a href="#">Nepali</a></li>
											<li><a href="#">Korean</a></li>
											<li><a href="#">Indian</a></li>
										</ul>
									</li>
									<li><a href="listings.html">Restaurants</a>
									</li>
									<li class="menu-item-has-children">
										<a href="#">Pages</a>
										<ul>
											<li><a href="price-plans.html">Price
													Plans</a></li>
											<li><a href="contact-us.html">Contact</a>
											</li>
											<li><a href="faq.html">Frequently
													Asked
													Question’s</a></li>
											<li><a href="how-it-works.html">How
													it
													works</a></li>
											<li><a href="registration.html">Register</a>
											</li>
											<li><a href="search-result.html">Search
													Result</a></li>
										</ul>
										<!--End Sub Menu -->
									</li>
									<li id="menu-item-15871" >
										<a href="#">Contact Us</a>
										<!--End Sub Menu -->
									</li>
								</ul>
							</nav>
							
							<!-- .main-navigation -->
						</div>
					</div>
					<div class="logo">
						<figure>
							<a href="{% url 'home' %}" class="light-logo">
								<img src="{% static 'extra-images/giphy2-unscreen.gif' %}" style="width:120px;height:120px;margin-top:60px;" alt="FoodOnline">
							</a>
							
						</figure>
					</div>
					<div class="nav-right wow fadeOutRight" data-wow-duration="2s">
						<div class="main-nav">
							<nav class="main-navigation">
								<ul class="fancy-right-menu">
									<li><a href="contact-us.html">Contact us </a>
									</li>
								</ul>
							</nav>
							
							<!-- .main-navigation -->
						</div>					
						<div class="login-option">
							{% if user.is_authenticated %}
							<a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}">My account</a>
							<a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}">Logout</a>

							{% else %}
							<a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Login</a>/
								<span><a href="{% url 'registerUser' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0">Register</a></span>
								<a class="get-start-btn" href="{% url 'registerRestaurant'%}"> Register Restaurant </a>
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		</header>
		<!-- Header End -->