{% extends 'base.html' %} 
{% load static %}

{% block content %}
<!-- Main Section Start -->
<div class="main-section">
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px; padding-top: 200px; padding-bottom: 0px; margin-bottom: 0px; background: url({% static 'extra-images/banner3-1.jpg' %}) no-repeat center / cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="element-title">
						<h1 style="color:#ffffff !important; font-size: 48px !important; letter-spacing: 1px !important; line-height: 54px !important; text-align:center!important; font-weight:600!important; text-transform:uppercase!important;">
							Find restaurants near you</h1>
						<p style="color:#ffffff !important; font-size: 24px !important; line-height: 32px !important; text-align:center!important; text-transform:uppercase!important;">
							Delivered Fresh and Hot at your doorstep</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="listing-main-search">
							<div class="main-search classic">
								<form action="">
									<div class="restaurant-search-element-container">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="field-holder">
												<span class="restaurant-element-search-btn"> <i class="icon-search5"></i> </span>
												<div class="select-location">
													<div class="foodbakery-locations-fields-group foodbakery-focus-out">
														<input type="text" value="" name="location" id="location" class="location-field-text filter" placeholder="Your current location" autocomplete="off">
														<span id="foodbakery_radius_location_open333" class="foodbakery-radius-location" onclick="getLocation()"><i class="icon-target5"></i></span>
													</div>
													<input value="Search" type="submit">
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:140px"></div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="categories-holder fancy">
						<div class="row">
							<div class="col-lg-2 col-sm-4 col-xs-6">
								<div class="categories-list">
									<a href="#">
										<img alt="" src="{% static 'extra-images/top-icon-1.png'%}">
										<h6 style="color:#ffffff !important;">BreakFast</h6>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-6">
								<div class="categories-list">
									<a href="#">
										<img alt="" src="{% static 'extra-images/top-icon-1-03.png'%}">
										<h6 style="color:#ffffff !important;">Dinner</h6>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-6">
								<div class="categories-list">
									<a href="#">
										<img alt="" src="{% static 'extra-images/top-icon-1-02.png'%}">
										<h6 style="color:#ffffff !important;">Lunch</h6>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-6">
								<div class="categories-list">
									<a href="#">
										<img alt="" src="{% static 'extra-images/top-icon-1-04.png'%}">
										<h6 style="color:#ffffff !important;">Delivery</h6>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-6">
								<div class="categories-list">
									<a href="#"><img alt="" src="{% static 'extra-images/top-icon-1-05.png'%}">
										<h6 style="color:#ffffff !important;">Nightlife</h6>
									</a>
								</div>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-6">
								<div class="categories-list">
									<a href="#">
										<img alt="" src="{% static 'extra-images/top-icon-1-06.png'%}">
										<h6 style="color:#ffffff !important;">Take Away</h6>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section" style="margin-top: 0px; padding-top: 100px; padding-bottom: 40px; margin-bottom: 0px; background: url({% static 'extra-images/banner-img.jpg' %}) no-repeat center / cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="center">
						<div style="padding-left:10px; padding-right:10px; margin-top:10px; margin-bottom:10px;" class="cs-spreator fancy">
							<div class="cs-seprater" style="text-align:center;">
								<span><img src="{% static 'extra-images/divider.png'%}" style="width: 130px; height:28px; margin-top:-45px;" alt=""></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="element-title">
						<h1 style="color:#3d4d67 !important; font-size: 28px !important; letter-spacing: 1px !important; line-height: 34px !important; text-align:Center; font-style:normal;">
							Browse By Location</h1>
						<p style="text-align:center;">Choose from your favorite location</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="location-holder fancy">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<ul class="location-list">
									<li><a href="#">Kathmandu</a><span>(35 places)</span></li>
									<li><a href="#">Lalitpur</a><span>(5 places)</span></li>
									<li><a href="#">Bhaktapur</a><span>(3 places)</span></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<ul class="location-list">
									<li><a href="#">Butwal</a><span>(2 places)</span></li>
									<li><a href="#">Narayangarh</a><span>(1 places)</span></li>
									<li><a href="#">Dhara</a><span>(1 places)</span></li>
									<li><a href="#">Cambridgeshire</a><span>(1 places)</span></li>
									<li><a href="#">County Down</a><span>(1 places)</span></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<ul class="location-list">
									<li><a href="#">Crewe</a><span>(1 places)</span></li>
									<li><a href="#">Huntingdon</a><span>(1 places)</span></li>
									<li><a href="#">Aberaeron</a><span>(0 places)</span></li>
									<li><a href="#">Aberdare</a><span>(0 places)</span></li>
									<li><a href="#">Aberdeen</a><span>(0 places)</span></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<ul class="location-list">
									<li><a href="#">Aberfeldy</a><span>(0 places)</span></li>
									<li><a href="#">Abergavenny</a><span>(0 places)</span></li>
									<li><a href="#">Abergele</a><span>(0 places)</span></li>
									<li><a href="#">Aberystwyth</a><span>(0 places)</span></li>
									<li><a href="#">Alford</a><span>(0 places)</span></li>
								</ul>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="more-btn-holder">
									<a class="more-btn" href="#">See more locations</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px; padding-top: 70px; padding-bottom: 40px; margin-bottom: 0px; background: #f2f6fb;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="center">
						<div style="padding-left:10px; padding-right:10px; margin-top:10px; margin-bottom:10px;" class="cs-spreator fancy">
							<div class="cs-seprater" style="text-align:center;">
								<span><img src="{% static 'extra-images/divider.png'%}" style="width: 130px; height:28px; margin-top:-45px;" alt=""></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title">
						<h1 style="color:#3d4d67 !important; font-size: 28px !important; letter-spacing: 1px !important; line-height: 34px !important; text-align:Center; font-style:normal;">
							How It Works</h1>
						<p style="text-align:center;">Easy 3 Step Orders</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="cs-icon-boxes-list classic-view top-center">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="icon-boxes classic top-center">
									<div class="img-holder">
										<figure>
											<a href="#"><img src="{% static 'extra-images/icon-1.png'%}" alt="Choose a Restaurant"></a>
										</figure>
									</div>
									<div class="text-holder">
										<h3 style="color:#3d4d67 !important;">
											<a href="#" style="color:#3d4d67 !important;">Choose a
												Restaurant</a>
										</h3>
										<p>We make it simple to find the food you crave. Enter your address and
											let
											us do the rest.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="icon-boxes classic top-center">
									<div class="img-holder">
										<figure>
											<a href="#"><img src="{% static 'extra-images/icon-2.png'%}" alt="Choose a Tasty Dish"></a>
										</figure>
									</div>
									<div class="text-holder">
										<h3 style="color:#3d4d67 !important;">
											<a href="#" style="color:#3d4d67 !important;">Choose a Tasty
												Dish</a>
										</h3>
										<p>When you order Eat Street, we'll hook you up with exclusive coupons,
											specials and rewards.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="icon-boxes classic top-center">
									<div class="img-holder">
										<figure>
											<a href="#"><img src="{% static 'extra-images/icon-3.png'%}" alt="Pick up or Delivery"></a>
										</figure>
									</div>
									<div class="text-holder">
										<h3 style="color:#3d4d67 !important;">
											<a href="#" style="color:#3d4d67 !important;">Pick up or
												Delivery</a>
										</h3>
										<p>We make food ordering fast, reliable, smooth, simple and free - no
											matter
											if you order online or cash.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="element-title">
						<h1 style="color:#3d4d67 !important; font-size: 28px !important; letter-spacing: 1px !important; line-height: 34px !important; text-align:Center; font-style:normal;">
							Top Restaurants</h1>
						<p style="text-align:center;">All the top restaurant in your city</p>
					</div>
				</div>
				
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					
					<div class="listing classic-grid">
						
						<ul class="row">
							
							{% for restaurant in restaurants %}
								<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="list-post ">
										<div class="img-holder">
											<figure>
												<a href="{% url 'restaurant_detail' restaurant.restaurant_slug %}" style="height: 170px; margin-top:10px;">
													{% if restaurant.user_profile.cover_photo %}
														<img src="{{ restaurant.user_profile.cover_photo.url }}" alt="">
													{% else %}
														<img src="{% static 'images/default-cover.png' %}" alt=""> 
													{% endif %}
												</a>
												<figcaption>
													<a href="{% url 'restaurant_detail' restaurant.restaurant_slug %}">
													{% if restaurant.user_profile.profile_picture %}
														<img src="{{ restaurant.user_profile.profile_picture.url }}" alt="">
													{% else %}
														<img src="{% static 'images/default-profile.png' %}" alt=""> 
													{% endif %}
													</a>
												</figcaption>
											</figure>
										</div>
										<div class="text-holder">
											<div class="list-option">
												<a href="#" class="shortlist-btn" data-toggle="modal" data-target="#sign-in"><i class="icon-heart-o"></i></a>
											</div>
											<div class="post-title">
												<h5>
													<a href="{% url 'restaurant_detail' restaurant.restaurant_slug %}">{{ restaurant }}</a>
												</h5>
											</div>
											<address> <span>Type of food : </span> BreakFast, Cold Coffee, Dinner,
												Drum
												Stick,
												Hot Dogs</address>
											<div class="delivery-potions">
												<div class="post-time">
													<i class="icon-motorcycle"></i>
													<div class="time-tooltip">
														<div class="time-tooltip-holder"> <b class="tooltip-label">Delivery
																time</b> <b class="tooltip-info">Your order will be
																delivered
																in
																10 minutes.</b> </div>
													</div>
												</div>
												<div class="post-time">
													<i class="icon-clock4"></i>
													<div class="time-tooltip">
														<div class="time-tooltip-holder"> <b class="tooltip-label">Pickup
																time</b> <b class="tooltip-info">You can pickup
																order in 15
																minutes.</b> </div>
													</div>
												</div>
											</div>
											{% if restaurant.user_profile.city and restaurant.user_profile.state and restaurant.user_profile.pin_code %}
												<span class="location">{{ restaurant.user_profile.city }}, {{ restaurant.user_profile.state}}, {{ restaurant.user_profile.pin_code}}</span>
											{% endif %}

											{% if restaurant.kms%}
												<br>
												<span><small><b>{{restaurant.kms}}</b>km away from you.</small></span>
											{% endif %}
												<div class="list-rating">
												<div class="rating-star">
													<span class="rating-box" style="width: 100%;"></span>
												</div>
												<span class="reviews">(80)</span>
											</div>
											<span class="restaurant-status close">Close</span>
										</div>
									</div>
								</li>
							{% endfor %}
							
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 320px;margin-bottom: -350px;background: url({% static 'extra-images/main-heading-bg.jpg' %}) no-repeat center top / cover#ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<div class="element-title">
						<h1 style="color:#ffffff !important; font-size: 28px !important; letter-spacing: 1px !important; line-height: 34px !important; text-align:Center; font-style:normal;">
							Choose From Most Popular</h1>
						<p style="text-align:center; color:#ffffff !important;">All the top restaurant in your
							city</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 28px;margin-bottom: 0px;border-bottom: 1px #f3f3f3 solid;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="company-holder fancy">
						<div class="swiper-container">
							<div class="swiper-wrapper">

								<div class="swiper-slide">
									<div class="company-logo">
										{% for restaurant in restaurants %}
											<figure>
												{% if Restaurant.user_profile.profile_picture %}
													<a href="#"><img src="{{ Restaurant.user_profile.profile_picture.url }}" alt=""> </a>
												{% else %}
													<a href="#"><img src="{% static 'images/default-profile.png' %}" alt=""> </a>
												{% endif %}
											</figure>
										{% endfor %}
								</div>
							</div>
						</div>
						<!-- Add Arrows -->
						<div class="fancy-button-prev"> <i class="icon-arrow_back"></i></div>
						<div class="fancy-button-next"><i class="icon-arrow_forward"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 30px;margin-bottom: 0px;background: #ffffff;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="testimonial fancy">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="testimonial-holder">
												<div class="img-holder">
													<figure><img src="{% static 'extra-images/testimonial-img2-1.jpg'%}" alt=""></figure>
												</div>
												<div class="text-holder">
													<p>This restaurant chain made famous for its gourmet burgers
														makes it
														easy for customers to find a chain nearby. Prominent
														calls-to-action
														include “as well as easy access. to social media
														accounts.</p>
													<div class="author-detail">
														<div class="auther-name"><span>@Kritan Dura</span></div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="testimonial-holder">
												<div class="img-holder">
													<figure><img src="{% static 'extra-images/testimonial-img2-1.jpg'%}" alt=""></figure>
												</div>
												<div class="text-holder">
													<p>Prominent calls-to-action include “as well as easy
														access. to
														social
														media accounts. This restaurant chain made famous for
														its gourmet
														burgers makes it easy for customers to find a chain
														nearby.</p>
													<div class="author-detail">
														<div class="auther-name"><span>@Ishan Shrestha</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="testimonial-holder">
												<div class="img-holder">
													<figure><img src="{% static 'extra-images/testimonial-img2-1.jpg'%}" alt=""></figure>
												</div>
												<div class="text-holder">
													<p>This restaurant chain made famous for its gourmet burgers
														makes it
														easy for customers to find a chain nearby. Prominent
														calls-to-action
														include “as well as easy access. to social media
														accounts.</p>
													<div class="author-detail">
														<div class="auther-name"><span>@Ishan Shrestha</span></div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="testimonial-holder">
												<div class="img-holder">
													<figure><img src="{% static 'extra-images/testimonial-img2-1.jpg'%}" alt=""></figure>
												</div>
												<div class="text-holder">
													<p>Prominent calls-to-action include “as well as easy
														access. to
														social
														media accounts. This restaurant chain made famous for
														its gourmet
														burgers makes it easy for customers to find a chain
														nearby.</p>
													<div class="author-detail">
														<div class="auther-name"><span>@Kritan Dura</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									
										<div class="swiper-slide">
											<div class="testimonial-holder">
												<div class="img-holder">
													<figure><img src="{% static 'extra-images/testimonial-img2-1.jpg'%}" alt=""></figure>
												</div>
												<div class="text-holder">
													<p>Prominent calls-to-action include “as well as easy
														access. to
														social
														media accounts. This restaurant chain made famous for
														its gourmet
														burgers makes it easy for customers to find a chain
														nearby.</p>
													<div class="author-detail">
														<div class="auther-name"><span>@Gaurab Shrestha</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
									<span class="swiper-pagination-bullet"></span>
									<span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock content %}